.custom-shape-divider-bottom-1649119487 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649119487 svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 132px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649119487 .shape-fill {
    fill: #4F69C6;
}

///
ion-card {
    box-shadow: 2px 2px 2px 2px rgb(93, 78, 142);
    @media (min-width: 375px) {
        width: auto;
        height: auto;
        margin-top: 5%;
    }
    @media (min-width: 955px) {
        width: auto;
        height: auto;
        margin-top: 5%;
    }
    ion-card-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

#col {
    @media (max-width: 575px) {
        width: auto;
        height: auto;
    }
    @media (max-width: 767px) {
        width: auto;
        height: auto;
    }
}

ion-icon {
    font-size: 5rem;
    display: block;
    margin: 0px auto;
    color: #5d4e8e;
    cursor: pointer;
}