.custom-shape-divider-top-1649111155 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1649111155 svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 244px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1649111155 .shape-fill {
    fill: #4f69c6;
}

///
.perfil {
    font-size: 50px;
    color: white;
    text-align: center;
    @media (max-width: 252px) {
        font-size: 15px;
        color: white;
    }
    @media (max-width: 955px) {
        font-size: 50px;
        color: white;
    }
}

img {
    border-radius: 50%;
    width: 166px;
    height: 166px;
    display: block;
    margin: 0px auto;
}

#button {
    @media (max-width: 296px) {
        width: 190px;
        height: 36px;
        font-size: 14px;
    }
}