<ion-header class="ion-no-border">
    <ion-toolbar>
        <img src="assets/icon/modernatec.png">
        <ion-buttons slot="end">
            <ion-buttons routerLink="/login">Inicio de sesión</ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed="">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" sizeLg="8" sizeMd="10" sizeSm="12">
                <h2>INGRESE LOS SIGUIENTES DATOS PARA<br>REGISTRARSE</h2>

                <form id="form">
                    <app-input placeholder="Nombres"></app-input>
                    <app-input placeholder="Apellidos"></app-input>
                    <app-input placeholder="Numero de Identificación"></app-input>
                    <app-input placeholder="Telefono"></app-input>
                    <app-input placeholder="Email"></app-input>
                    <ion-button expand="block" shape="round" routerLink="/login" color="success">Registrarse</ion-button>

                </form>
            </ion-col>
        </ion-row>

    </ion-grid>


</ion-content>