<ion-content>
  <ion-row>
    <!--tamaños correspondientes para el formulario de las pantallas-->
    <ion-col size="12" sizeLg="7" sizeMd="6" sizeSm="12" id="col">
      <!--Titulo principal-->
      <h2> <strong>Cambiar la contraseña</strong></h2>
      <!--inicio de la card-->
      <ion-card>
        <ion-card-content>
          <!--iniio del form group-->
          <form [formGroup]="formulario" (ngSubmit)="changePass()">
            <!--ingreso del correo realcionado-->


            <h1 class="text-center">Su correo es {{email}}</h1><br>




            <!--ingreso de la nueva contraseña-->
            <ion-item>
              <ion-label position="floating">Nueva contraseña</ion-label><br>
              <ion-input formControlName="password"
                pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,30}$" type="password">
              </ion-input>
              <small *ngIf="pass1NoValido" id="small" class="text-danger">
                Ingrese una contraseña con minimo: 8 caracteres, 1 mayúscula, 1 minúscula, 1 numero y 1 caracter
                especial(!"#$%&/())
              </small>
            </ion-item>
            <!--comiendo del ngIf en caso de que el gmail no sea valido saldra el siguiente mensaje-->

            <!--ingreso nuevamente de la nueva contraseña para la validación-->
            <ion-item>
              <ion-label position="floating">Validar contraseña</ion-label><br>
              <ion-input formControlName="password1" type="password"></ion-input>
              <small *ngIf="pass2NoValido" id="small" class="text-danger">
                Las contraseñas no coinciden
              </small>
            </ion-item>

            <!--Bonton para enviar información-->
            <ion-button type="submit" expand="block" color="primary" shape="round">Enviar</ion-button>
          </form>
          <!--fin del form group-->
        </ion-card-content>

      </ion-card>
      <!--Fin de la card-->
    </ion-col>
    <!--inicio de los col del lado izquierdo-->
    <ion-col size="12" sizeLg="5" sizeMd="6" sizeSm="12" id="col" id="form2">
      <!--inicio del form-->
      <form id="form">
        <!--ingreso del logo e imagen grafica-->
        <img src="../../assets/icon/logo.png" id="logo"><br>
        <img src="../../assets/icon/passwordPhoto.png" id="img">

      </form>
      <!--Fin del form-->

    </ion-col>
  </ion-row>
</ion-content>
