ion-card {
    --background: white;
    border-radius: 10px;
}

ion-content {
    h2 {
        color: black;
        font-weight: 100;
        font-size: 35px;
        margin-bottom: 15%;
        margin-top: 15px;
        text-align: center;
    }
    #form {
        background-color: white!important;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}

#col {
    background-color: #E5E5E5!important;
}