@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
ion-toolbar {
    --background: #206E7C 100%;
    ion-title {
        color: white;
        font-family: 'Playball', 'cursive';
        font-size: 35px;
    }
}

ion-card {
    --background: white;
    border-radius: 10px;
}

ion-content {
    --background: radial-gradient(circle at 43.84% 120.44%, #ffebd6 0, #ffecd3 4.55%, #ffeed0 9.09%, #ffefcf 13.64%, #fff1cd 18.18%, #fff3cd 22.73%, #fff5cd 27.27%, #fbf6cd 31.82%, #f6f8cf 36.36%, #f0f9d1 40.91%, #eafbd4 45.45%, #e4fcd7 50%, #defddb 54.55%, #d9fedf 59.09%, #d3ffe4 63.64%, #cfffe9 68.18%, #caffee 72.73%, #c7fff3 77.27%, #c4fff8 81.82%, #c1fffd 86.36%, #c0ffff 90.91%, #c0ffff 95.45%, #c0ffff 100%);
    h2 {
        color: black;
        font-weight: 100;
        font-size: 35px;
        margin-bottom: 15%;
        margin-top: 15px;
        align-items: center;
        text-align: center;
        font-family: 'Playball', 'cursive';
    }
    #form {
        margin-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        ion-button {
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none
        }
        
    }
}



