<ion-header>
    <ion-toolbar>
        <ion-title slot="start" color="primary">Modernatec visitantes</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-content>
        <ion-grid fixed="">
            <ion-row class="ion-justify-content-center">
                <ion-col size="12" sizeLg="12" sizeMd="10" sizeSm="12">

                    <form>
                        <p>Codigo:4558</p>
                        <img src="../../../assets/icon/TomarFoto.png" width="200" height="200">
                        <p>Nombre:Pepito Alfredo</p>
                        <p>Apellido:Perez Alfonso</p>
                        <p>Numero de identificacion: 4587925</p>
                        <p>Telefono :352648411</p>
                        <p>Correo Electronico: pepito.alfredo@gmail.com</p>
                        <p>Area a dirigirse: Laboratorios CC Bodega 6</p>
                        <p>Nombre del solicitante: Martin Duran </p>
                        <p>Recursos Humanos- 312564789</p>
                    </form>
                    <br>
                    <ion-button color="primary" shape="round" routerLink="/home" routerLinkActive="active">Aceptar</ion-button>
                    <ion-button color="danger" shape="round" routerLink="/home" routerLinkActive="active">Denegar</ion-button>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>