ion-img {
    margin-left: 5px;
    margin-bottom: 10px;
    width: 230px;
    height: 230px;
    @media (max-width: 375px) {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    @media (max-width: 955px) {
        width: 110px;
        height: 110px;
        margin-left: 15px;
    }
}

ion-card {
    box-shadow: 2px 2px 2px 2px rgb(93, 78, 142);
}

ion-icon {
    margin-top: 30%;
    font-size: 100px;
    cursor: pointer;
}