<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Modernatec</ion-title>

        <ion-item>
            <ion-label slot="end">nombre</ion-label>
            <ion-avatar slot="end">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../../assets/icon/modernatec.png">
</ion-content>