<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start">Modernatec</ion-title>

        <ion-item>
            <ion-label slot="end">nombre</ion-label>
            <ion-avatar slot="end">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content id="content">
    <ion-grid fixed="">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" sizeLg="8" sizeMd="10" sizeSm="12">
                <h1 routerLink="/reportes">Generar reporte </h1>
                <h2>Seleccion del tipo de </h2>

                <ion-item-group>
                    <ion-button color="primary">lineas</ion-button>
                    <ion-button color="secondary">Barra</ion-button>
                    <ion-button color="tertiary">pastel</ion-button>
                </ion-item-group>


            </ion-col>

            <!--grafica-->
            <ion-col size="12" sizeLg="5" sizeMd="6" sizeSm="12" *ngFor="let item of [1,1]">
                <ion-card>
                    <img src="../../../assets/icon/Grafica.jpg">

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>