/*
hecho por :Orealis Ospina Puentes
ficha:2252471
ultima modificación:23/03/2022
1. se importo la letra de mordernatec por google fonts 
**/

@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/*
fondo del toolbar con el color principal de modernatec
**/

ion-toolbar {
    --background: #206E7C;
    /*
    se ingreso la fuente de la letra importada ,con el color y tamaño
    **/
    ion-title {
        font-family: 'Playball', 'cursive';
        color: white;
        font-weight: 100;
        font-size: 35px;
    }
    /*
    se ingreso el color de fondo ,tamaño y color de la letra 
    **/
    ion-item {
        color: white;
        font-weight: 100;
        font-size: 30px;
        --background: #206E7C;
    }
}


/*
Se ingreso el logo de modernatec
**/

ion-content {
    img {
        width: 500px;
        height: 400px;
        margin-left: 750px;
        margin-top: 200px;
    }
}