.custom-shape-divider-bottom-1649124123 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649124123 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649124123 .shape-fill {
    fill: #4F69C6;
}

ion-card {
    box-shadow: 2px 2px 2px 2px rgb(93, 78, 142);
    @media (min-width: 375px) {
        width: auto;
        height: auto;
        margin-top: 5%;
    }
    @media (min-width: 955px) {
        width: auto;
        height: auto;
        margin-top: 5%;
    }
    @media (min-width: 1310px) {
        width: 60%;
        height: 50%;
        margin-left: 20%;
        margin-top: 5%;
    }
    ion-card-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
}