ion-card {
    --background: white;
    border-radius: 20px;
    width: 70%;
    height: auto;
    margin-left: 15%;
    @media (max-width: 768px) {
        border-radius: 20px;
        width: 80%;
        height: auto;
        margin-left: 10%;
    }
}

ion-content {
    background-color: #eff1f3!important;
    h2 {
        color: black;
        font-weight: 100;
        font-size: 35px;
        margin-bottom: 15%;
        margin-top: 40px;
        text-align: center;
    }
    #form {
        background-color: white!important;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        #img {
            width: 450px;
            height: 520px;
            margin-left: 20%;
            margin-top: 20px;
            @media (max-width: 783px) {
                display: none;
            }
        }
        #logo {
            width: 150px;
            height: 150px;
            margin-left: 50%;
            margin-top: 20px;
            @media (max-width: 783px) {
                display: none;
            }
        }
    }
}

#col {
    background-color: #eff1f3!important;
    height: 100vh;
}

#form2 {
    @media (max-width: 783px) {
        display: none;
    }
}

ion-icon {
    cursor: pointer;
    font-size: 35px;
}