<ion-content>

    <ion-row>
        <!--tamaños correspondientes para el formulario de ingreso del correo-->
        <ion-col size="12" sizeLg="7" sizeMd="6" sizeSm="12" id="col">
            <!--icono de la flecha para devolverse a la pagina anterior-->
            <ion-icon name="arrow-back" routerLink="/login" [replaceUrl]="true"></ion-icon>
            <!--texto de instrucciones para el usuario-->
            <h2>Por favor ingrese el correo inscrito <br> en el sistema</h2>
            <!--inicio de la card-->
            <ion-card>
                <ion-card-content>
                    <!--inicio del form group-->
                    <form id="form" [formGroup]="formulario" (ngSubmit)="verificar()">
                        <!--inicio del ingreso del email con estilos de ionic DOCS-->
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input formControlName="email" type="email"></ion-input>
                        </ion-item><br>
                        <!-- boton de enviar la información-->
                        <ion-button type="submit" expand="block" color="primary" shape="round">
                            Enviar</ion-button>
                    </form>
                    <!--fin del form group-->
                </ion-card-content>
            </ion-card>
            <!--fin de la card-->
        </ion-col>
        <!-- Fin de los tamaños correspondientes-->
        <!--inicio de los tamaños correspondientes a la imagenes de la derecha-->
        <ion-col size="12" sizeLg="5" sizeMd="6" sizeSm="12" id="col" id="form2">
            <!--incio de form-->
            <form id="form">
                <!--inicio de las imgenes del logo y caricatura-->
                <img src="../../assets/icon/logo.png" id="logo"><br>
                <img src="../../assets/icon/passwordPhoto.png" id="img">
                <!--Fin de las imgenes del logo y caricatura-->
            </form>
            <!--fin del form-->
        </ion-col>
    </ion-row>

</ion-content>