<ion-header class="ion-no-border" translucent="">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-buttons routerLink="/register">Registrarse</ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding fullscreen="">

    <ion-grid fixed="">
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" sizeLg="8" sizeMd="10" sizeSm="12">
                <div id="header">
                    <img src="assets/icon/modernatec.png">
                </div>

                <ion-card>
                    <ion-card-content>
                        <form [formGroup]="login_form" (ngSubmit)="submitPost()" id="form">
                            <ion-input placeholder="Email" type="email" formControlName="email" [class.is-invalid]="emailNoValido">

                                <ion-icon name="mail"></ion-icon>
                            </ion-input>
                            <small *ngIf="emailNoValido" class="text-light lead" id="small">
                                Ingrese el correo
                            </small>
                            <ion-input type="password" placeholder="Password" formControlName="password" required="true" [class.is-invalid]="passNoValido">
                                <ion-icon name="lock-closed"></ion-icon>
                            </ion-input>
                            <small *ngIf="passNoValido" class="text-light lead" id="small">
                                Ingrese su contraseña
                            </small>
                            <ion-button expand="block" shape="round" type="submit" color="success">Ingresar</ion-button>

                        </form>

                    </ion-card-content>
                    <h2 routerLink="/password">¿Se te olvido la contraseña?</h2>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>