
ion-toolbar{
    --background: #c0ffff 100%;
    ion-buttom{
        text-transform: initial;
        font-size: 17px;
    }
}

ion-card{
    --background: #206E7C;
    border-radius: 30px;
}

ion-content{
    --background: radial-gradient(circle at 43.84% 120.44%, #ffebd6 0, #ffecd3 4.55%, #ffeed0 9.09%, #ffefcf 13.64%, #fff1cd 18.18%, #fff3cd 22.73%, #fff5cd 27.27%, #fbf6cd 31.82%, #f6f8cf 36.36%, #f0f9d1 40.91%, #eafbd4 45.45%, #e4fcd7 50%, #defddb 54.55%, #d9fedf 59.09%, #d3ffe4 63.64%, #cfffe9 68.18%, #caffee 72.73%, #c7fff3 77.27%, #c4fff8 81.82%, #c1fffd 86.36%, #c0ffff 90.91%, #c0ffff 95.45%, #c0ffff 100%);
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;

       

        img{
            width: 155px;
            height: 115px;
            border-radius: 30%;
            border: 8px solid #ffffff;
        }
    }

    #form{
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;


        ion-button{
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
            --box-shadow:none
        }

        h2{
            color: white;
            font-weight: 100;
            font-size: 26px;
            margin-bottom: 15%;
            align-items: center;
            margin-top: 15px;
        }
    }

    

  
}

/* WhatsApp Image 2021-12-12 at 7.50 2 

position: absolute;
width: 360px;
height: 800px;
left: 360px;
top: 0px;

background: url(WhatsApp Image 2021-12-12 at 7.50.jpg);
transform: matrix(-1, 0, 0, 1, 0, 0);*/
