ion-content {
    #img {
        width: 800px;
        height: 500px;
        margin-top: 140px;
    }
    form {
        margin-right: 35px;
        margin-left: 35px;
        margin-top: 20px;
        #logo {
            margin-top: 15px;
            margin-left: 35%;
            width: 166px;
            height: 166px;
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        h3 {
            text-align: center;
        }
        #small {
            color: red;
            font-size: 20px;
        }
    }
}