ion-card {
    box-shadow: 2px 2px 2px 2px rgb(93, 78, 142);
}

ion-card-title {
    font-size: 25px;
}

img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0px auto;
    border-radius: 5%;
}