.custom-shape-divider-bottom-1649305623 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649305623 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1649305623 .shape-fill {
    fill: #4F69C6;
}

///
#videoRef {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    border-radius: 20px;
}

ion-card {
    box-shadow: none;
}

.ion-card-title {
    @media (max-width: 783px) {
        font-size: 12.5px;
    }
}

h2 {
    color: #000;
}

#card {
    box-shadow: none;
}

#imagen {
    margin-top: 8%;
    .img {
        border-radius: 15px;
    }
    h3 {
        font-size: 20px;
        margin-top: 15px;
    }
}

#info {
    margin-top: 5%;
}

.carticon {
    font-size: 3rem;
}

#androidbtn {
    margin-left: 20%;
    margin-top: 78%;
}

.transparent {
    --background: transparent;
    background: transparent;
}