<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <!--Contenido del menu -->
        <ion-content>
            <div class="menu-header-bg"></div>
            <div class="header-content">
                <img src="../assets/icon/logo.png" alt="" id="logo">
                <ion-label>
                    <h2>MODERNATEC</h2>
                    <P>Cuidando tu seguridad</P>
                </ion-label>
            </div>
            <!--en esta parte nos conectamos con los componentes del menu  en la carpeta assets/data/ 
                donde mostrara los iconos el nombre perteneciente y la ruta de la carpeta donde se debe de dirigir
            tambien esta conectado con interfaces/interfaces.ts donde se exporta el contenido del icono ,nombre y redirect.to-->
            <ion-list lines="none" class="menu-items">

                <ion-item *ngFor="let c of componentes " [routerLink]="c.redirectTo">
                    <ion-icon [name]="c.icon" slot="start"></ion-icon>
                    {{ c.name }}

                </ion-item>


            </ion-list>
        </ion-content>
        <!--fin del contenido del menu-->
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>