img {
    width: 200px;
    height: 250px;
    margin-left: 15%;
    border-radius: 15%;
    @media (min-width: 237px) {
        display: block;
        margin: 0px auto;
    }
}

#card {
    box-shadow: none;
    margin-top: 10%;
}

ion-button {
    margin-top: 5%;
}

h1 {
    margin-bottom: 5%;
    color: black;
}