ion-card {
    --background: white;
    border-radius: 20px;
    width: 600px;
    height: auto;
    margin-left: 15%;
}

ion-content {
    h2 {
        color: black;
        font-weight: 100;
        font-size: 35px;
        margin-bottom: 15%;
        margin-top: 40px;
        text-align: center;
    }
    #form {
        background-color: white!important;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        #img {
            width: 450px;
            height: 500px;
            margin-left: 20%;
            margin-top: 20px;
        }
        #logo {
            width: 150px;
            height: 150px;
            margin-left: 30%;
            margin-top: 20px;
        }
    }
}

#col {
    background-color: #E5E5E5!important;
}