<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" sizeLg="7" sizeMd="6" sizeSm="12" id="col">
                <h2> <strong>Cambiar la contraseña</strong></h2>
                <ion-card>
                    <ion-card-content>
                        <form>

                            <ion-item>
                                <ion-label position="floating">Nueva contraseña</ion-label>
                                <ion-input></ion-input>
                            </ion-item><br>
                            <ion-item>
                                <ion-label position="floating">Validar contraseña</ion-label>
                                <ion-input></ion-input>
                            </ion-item><br>
                            <ion-button expand="block" color="primary" shape="round" routerLink="/login">Enviar</ion-button><br>

                        </form>

                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="12" sizeLg="5" sizeMd="6" sizeSm="12" id="col">
                <form id="form">
                    <img src="../../assets/icon/logo.png" id="logo"><br>
                    <img src="../../assets/icon/passwordPhoto.png" id="img" width="250" height="250">

                </form>

            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>