        /*body/container*/
        
        body {
            font-family: monospace;
            background-color: white;
        }
        
        .container {
            margin: auto;
        }
        /*efecto maquina de escribir*/
        
        h1 {
            float: left;
            color: black;
            position: relative;
            text-align: center;
            margin-top: 2%;
            margin-left: 5%;
            font-size: 30px;
        }
        
        h1 span {
            position: absolute;
            right: 0;
            width: 0;
            background: white;
            border-left: 1px solid #000;
            animation: maquina 3s infinite alternate steps(21);
        }
        
        @keyframes maquina {
            from {
                width: 100%;
            }
            to {
                width: 0;
            }
        }
        
        @media (min-width: 1310px) {
            .h1 {
                color: black;
                margin-right: 50%;
                font-size: 30px;
            }
        }
        /*sgv con animaciones*/
        
        @media (min-width: 1310px) {
            svg {
                width: 889px;
                height: 486px;
                margin-left: 30%;
            }
        }
        
        #mano_izquierda {
            animation: mano_izquierda 6s infinite;
            transform-box: fill-box;
            transform-origin: 90% 90%;
        }
        
        @keyframes mano_izquierda {
            0% {
                transform: rotate(-60deg);
            }
            30% {
                transform: rotate(0deg);
            }
            80% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(-60deg);
            }
        }