<app-menu></app-menu>
<!--Inicio del contenido con un estilo de css para hacer las formas de fondo-->
<ion-content style="position: relative;">
    <!--para hacer las formas de fonde de pantalla se requerira poner esto en el html-->
    <div class="custom-shape-divider-bottom-1649119737">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
        class="shape-fill"></path>
    </svg>
    </div>
    <!--Inicio de la card-->
    <ion-card>

        <ion-card-header>
            <!--Titulo del contenido-->
            <ion-card-title class="text-center"> <strong>Cambiar Contraseña</strong></ion-card-title>
        </ion-card-header>
        <!--inicio del contenido de la card-->
        <ion-card-content>
            <!--inicio del formgroup-->
            <form [formGroup]="formulario" (ngSubmit)="cambiarPass()">
                <div class="mb-3">
                    <!--ingreso de la contraseña anterior-->
                    <label for="exampleFormControlInput1" class="form-label">Contraseña anterior</label>
                    <input type="password" [class.is-invalid]="passNoValido" [class.is-valid]="!passNoValido && this.formulario.get('password').touched" formControlName="password" class="form-control">
                    <!--comiendo del ngIf en caso de que el gmail no sea valido saldra el siguiente mensaje-->
                    <small *ngIf="passNoValido" id="small" class="text-danger">
            Ingrese la contraseña anterior
          </small>
                    <!--fin del ngIf-->
                </div>

                <div class="mb-3">
                    <!--ingreso de contraseña nueva-->
                    <label for="exampleFormControlInput1" class="form-label">Contraseña nueva</label>
                    <input type="password" [class.is-invalid]="pass1NoValido" [class.is-valid]="!pass1NoValido && this.formulario.get('password_update').touched" formControlName="password_update" pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,30}$"
                        class="form-control">
                    <!--comiendo del ngIf en caso de que el gmail no sea valido saldra el siguiente mensaje-->
                    <small *ngIf="pass1NoValido" id="small" class="text-danger">
            Ingrese una contraseña con minimo: 8 caracteres, 1 mayúscula, 1 minúscula, 1 numero y 1 caracter especial
          </small>
                    <!--fin del ngIf-->
                </div>
                <div class="mb-3">
                    <!--confirmacion de la comntraseña nueva-->
                    <label for="exampleFormControlInput1" class="form-label">Confirmar contraseña</label>
                    <input type="password" [class.is-invalid]="pass2NoValido" [class.is-valid]="!pass2NoValido && this.formulario.get('password_update1').touched" formControlName="password_update1" class="form-control">
                    <!--comiendo del ngIf en caso de que el gmail no sea valido saldra el siguiente mensaje-->
                    <small *ngIf="pass2NoValido" id="small" class="text-danger">
            Las contraseñas no coinciden
          </small>
                    <!--fin del ngIf-->
                </div>
                <!--finalización del formulario-->
                <ion-row>
                    <ion-col size="12" sizeLg="6" sizeMd="6" sizeSm class="text-center">
                        <!--Boton para cancelar la accion y devolverse al apartado de perfil-->
                        <ion-button [routerLink]="['/user/perfil']" [replaceUrl]="true" shape="round">
                            Cancelar
                        </ion-button>
                        <!--fin del boton de cancelar-->
                    </ion-col>
                    <!--Boton para cambiar la contraseña-->

                    <!--Do : funcionalidad del cambio de contraseña-->
                    <ion-col size="12" sizeLg="6" sizeLg="6 " sizeSm class="text-center">
                        <ion-button type="submit" shape="round">
                            Cambiar Contraseña
                        </ion-button>
                        <!--fin del boton para cambiar contraseña-->
                    </ion-col>
                </ion-row>
            </form>

        </ion-card-content>
    </ion-card>
</ion-content>