ion-content {
    --background: white;
    #form {
        background-color: white;
        border-radius: 30px;
        margin-left: 15px;
        margin-right: 15px;
        #button {
            margin-bottom: 15px;
        }
    }
}

h2 {
    font-size: 20px;
}